<div class="app-card network-info-card">
  <div class="app-card__title">
    <i nz-icon nzType="desktop" nzTheme="outline"></i>
    <span>{{ getTranslation('network.title') }}</span>
  </div>
  <p class="app-card__subtitle">
    {{ getTranslation('network.subtitle') }}
  </p>

  <!-- 连接步骤指引 -->
  <nz-steps [nzCurrent]="3" nzSize="small" class="network-info-card__steps">
    <nz-step [nzTitle]="getTranslation('network.step1')" nzIcon="wifi"></nz-step>
    <nz-step [nzTitle]="getTranslation('network.step2')" nzIcon="qrcode"></nz-step>
    <nz-step [nzTitle]="getTranslation('network.step3')" nzIcon="mobile"></nz-step>
  </nz-steps>

  <!-- 网络信息列表 -->
  <div class="network-info-card__list">
    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="api" nzTheme="outline"></i>
        {{ getTranslation('network.ipLabel') }}
      </div>
      <div class="info-item__value">
        <nz-tag *ngIf="localIP" nzColor="success">{{ localIP }}</nz-tag>
        <nz-tag *ngIf="!localIP" nzColor="warning">{{ getTranslation('network.ipNotSet') }}</nz-tag>
      </div>
    </div>

    <!-- 手动输入 IP -->
    <div class="info-item manual-ip">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input
          nz-input
          [(ngModel)]="manualIP"
          [placeholder]="getTranslation('network.ipPlaceholder')"
          (keyup.enter)="applyManualIP()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="default" nzSearch [disabled]="!manualIP.trim()" (click)="applyManualIP()">
          {{ getTranslation('network.applyButton') }}
        </button>
      </ng-template>
    </div>

    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="link" nzTheme="outline"></i>
        {{ getTranslation('network.portLabel') }}
      </div>
      <div class="info-item__value">
        <nz-tag nzColor="blue">{{ port }}</nz-tag>
      </div>
    </div>

    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="global" nzTheme="outline"></i>
        {{ getTranslation('network.addressLabel') }}
      </div>
      <div class="info-item__value address-value">
        <code class="address-code">http://{{ localIP }}:{{ port }}</code>
      </div>
    </div>
  </div>

  <!-- 注意事项 -->
  <nz-divider></nz-divider>
  <div class="network-info-card__tips">
    <h4>
      <i nz-icon nzType="info-circle" nzTheme="fill"></i>
      {{ getTranslation('network.tipsTitle') }}
    </h4>
    <ol>
      <li>{{ getTranslation('network.tip1') }}</li>
      <li>{{ getTranslation('network.tip2') }}</li>
      <li>{{ getTranslation('network.tip3') }}</li>
      <li>{{ getTranslation('network.tip4', { port }) }}</li>
    </ol>
  </div>
</div>
