<div class="app-card network-info-card">
  <div class="app-card__title">
    <i nz-icon nzType="desktop" nzTheme="outline"></i>
    <span>{{ 'networkInfo.title' | translate }}</span>
  </div>
  <p class="app-card__subtitle">
    {{ 'networkInfo.tip' | translate }}
  </p>

  <!-- 连接步骤指引 -->
  <nz-steps [nzCurrent]="3" nzSize="small" class="network-info-card__steps">
    <nz-step [nzTitle]="'networkInfo.step1' | translate" nzIcon="wifi"></nz-step>
    <nz-step [nzTitle]="'networkInfo.step2' | translate" nzIcon="qrcode"></nz-step>
    <nz-step [nzTitle]="'networkInfo.step3' | translate" nzIcon="mobile"></nz-step>
  </nz-steps>

  <!-- 网络信息列表 -->
  <div class="network-info-card__list">
    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="api" nzTheme="outline"></i>
        {{ 'networkInfo.ipLabel' | translate }}
      </div>
      <div class="info-item__value">
        <nz-tag *ngIf="localIP" nzColor="success">{{ localIP }}</nz-tag>
        <nz-tag *ngIf="!localIP" nzColor="warning">{{ 'networkInfo.notSet' | translate }}</nz-tag>
      </div>
    </div>

    <!-- 手动输入 IP -->
    <div class="info-item manual-ip">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input
          nz-input
          [(ngModel)]="manualIP"
          [placeholder]="'networkInfo.ipPlaceholder' | translate"
          (keyup.enter)="applyManualIP()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="default" nzSearch [disabled]="!manualIP.trim()" (click)="applyManualIP()">
          {{ 'networkInfo.apply' | translate }}
        </button>
      </ng-template>
    </div>

    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="link" nzTheme="outline"></i>
        {{ 'networkInfo.portLabel' | translate }}
      </div>
      <div class="info-item__value">
        <nz-tag nzColor="blue">{{ port }}</nz-tag>
      </div>
    </div>

    <div class="info-item">
      <div class="info-item__label">
        <i nz-icon nzType="global" nzTheme="outline"></i>
        {{ 'networkInfo.addressLabel' | translate }}
      </div>
      <div class="info-item__value address-value">
        <code class="address-code">http://{{ localIP }}:{{ port }}</code>
      </div>
    </div>
  </div>
</div>
